{"openapi":"3.0.4","info":{"title":"Queue OpenAPI for fal-ai/marigold-v2","version":"1.0.0","description":"Estimate monocular depth from a single image with Marigold V2 by Huawei Bayer Lab. The model runs one deterministic forward pass and returns a colorized depth visualization (Spectral colormap) as a PNG. By default, the output matches the input image's dimensions rounded to the nearest multiple of 16. Optionally set image_size as a preset or an explicit width and height: both must be multiples of 16, at most 2048 pixels per side, with an aspect ratio between 1:16 and 16:1. Input images are limited to 2048 x 2048 pixels. The seed only affects the VAE encoder's latent sampling; the same seed and image reproduce the same output.","x-fal-metadata":{"endpointId":"fal-ai/marigold-v2","category":"image-to-image","thumbnailUrl":"https://v3b.fal.media/files/b/0aaccf1f/kT4jHOzU-1GoNpXUKQ1EP.jpg","playgroundUrl":"https://fal.ai/models/fal-ai/marigold-v2","documentationUrl":"https://fal.ai/models/fal-ai/marigold-v2/api","about":"Generate"}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"Fal Key"}},"schemas":{"QueueStatus":{"type":"object","properties":{"status":{"type":"string","enum":["IN_QUEUE","IN_PROGRESS","COMPLETED"]},"request_id":{"type":"string","description":"The request id."},"response_url":{"type":"string","description":"The response url."},"status_url":{"type":"string","description":"The status url."},"cancel_url":{"type":"string","description":"The cancel url."},"logs":{"type":"object","description":"The logs.","additionalProperties":true},"metrics":{"type":"object","description":"The metrics.","additionalProperties":true},"queue_position":{"type":"integer","description":"The queue position."}},"required":["status","request_id"]},"MarigoldV2Input":{"properties":{"image_url":{"examples":["https://storage.googleapis.com/falserverless/example_inputs/dog.png"],"title":"Image Url","type":"string","description":"Input image url."},"seed":{"title":"Seed","description":"Random seed. Only affects the VAE encoder's latent sampling (the forward pass itself is a single deterministic step); the same seed and image reproduce the same output.","anyOf":[{"type":"integer"},{"type":"null"}]},"image_size":{"examples":[{"width":512,"height":512}],"title":"Image Size","description":"Inference size as an explicit `{width, height}` object or a preset string (e.g. `\"square_hd\"`, `\"landscape_4_3\"`). Both dimensions must be multiples of 16 and no larger than 2048 pixels on either side, with an aspect ratio between 1:16 and 16:1. Defaults to the input image's dimensions rounded to the nearest multiple of 16.","anyOf":[{"$ref":"#/components/schemas/ImageSize"},{"enum":["square_hd","square","portrait_4_3","portrait_16_9","landscape_4_3","landscape_16_9"],"type":"string"},{"type":"null"}]}},"required":["image_url"],"x-fal-order-properties":["image_url","image_size","seed"],"title":"MarigoldV2DepthInput","type":"object"},"MarigoldV2Output":{"properties":{"image":{"$ref":"#/components/schemas/Image","description":"The colorized (Spectral colormap) depth visualization."},"seed":{"title":"Seed","type":"integer","description":"The seed used for the VAE encoder's latent sampling."}},"required":["image","seed"],"x-fal-order-properties":["image","seed"],"title":"MarigoldV2DepthOutput","type":"object"},"ImageSize":{"properties":{"width":{"exclusiveMinimum":0,"maximum":14142,"default":512,"type":"integer","description":"The width of the generated image.","title":"Width"},"height":{"exclusiveMinimum":0,"maximum":14142,"default":512,"type":"integer","description":"The height of the generated image.","title":"Height"}},"x-fal-order-properties":["width","height"],"title":"ImageSize","type":"object"},"Image":{"description":"Represents an image file.","properties":{"file_size":{"examples":[4404019],"title":"File Size","description":"The size of the file in bytes.","anyOf":[{"type":"integer"},{"type":"null"}]},"width":{"examples":[1024],"title":"Width","description":"The width of the image in pixels.","anyOf":[{"type":"integer"},{"type":"null"}]},"url":{"title":"Url","type":"string","description":"The URL where the file can be downloaded from."},"file_name":{"examples":["z9RV14K95DvU.png"],"title":"File Name","description":"The name of the file. It will be auto-generated if not provided.","anyOf":[{"type":"string"},{"type":"null"}]},"height":{"examples":[1024],"title":"Height","description":"The height of the image in pixels.","anyOf":[{"type":"integer"},{"type":"null"}]},"content_type":{"examples":["image/png"],"title":"Content Type","description":"The mime type of the file.","anyOf":[{"type":"string"},{"type":"null"}]}},"required":["url"],"x-fal-order-properties":["url","content_type","file_name","file_size","width","height"],"title":"Image","type":"object"}}},"paths":{"/fal-ai/marigold-v2/requests/{request_id}/status":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}},{"name":"logs","in":"query","required":false,"schema":{"type":"number","description":"Whether to include logs (`1`) in the response or not (`0`)."}}],"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fal-ai/marigold-v2/requests/{request_id}/cancel":{"put":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"The request was cancelled.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was cancelled successfully."}}}}}}}}},"/fal-ai/marigold-v2":{"post":{"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarigoldV2Input"}}}},"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fal-ai/marigold-v2/requests/{request_id}":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"Result of the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarigoldV2Output"}}}}}}}},"servers":[{"url":"https://queue.fal.run"}],"security":[{"apiKeyAuth":[]}]}